/* {
  border: 1px solid green;
} */

body {
  color: #333;
  font-size: 18px;
  line-height: 1.66667;
}

a {
  color: #333;
} 

/* ----------------------- */

/* Container */

.container-fluid {
  max-width: 1760px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 1200px) {
  .container-fluid, .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .container-fluid, .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* ----------------------- */

/* Aspect ratio boxes */

.aspectRatioBox {
  padding-top: calc(1 / 1 * 100%);
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}

/* ----------------------- */

/* Navbar */

#navbar {
  height: 80px;
  border-bottom: 1px solid #d3d3d3;
  z-index: 1;
}

#mdNavbar {
  padding: 0 64px;
}

#xsNavbar {
  padding: 0 8px;
}

.navbar-title {
  color: #1a00ff;
  letter-spacing: 3px;
  font-size: 24px;
}

.navbar-title:hover {
  color: #1a00ff;
  opacity: 0.75;
}

.navbar-title-portfolio {
  font-size: 18px;
}

.nav-link:hover {
  background-color: #1a00ff;
  color: #fff;
  border-radius: 5px;
}

#navbarMenuToggler {
  position: relative;
  font-size: 24px;
  margin-right: 0;
  padding: 0 8px;
  transition: color 0.25s;
  z-index: 1;
}

#navbarMenuToggler i:hover {
  color: #1a00ff;
}

#navbarMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 48px 18px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
  border: 1px solid rgba(0,0,0,.04);
  border-radius: 16px;
  text-align: center;
}

.xsMenu-listItem {
  margin-top: 24px;
}

.xsMenu-listItem a {
  display: block;
  margin: 0 40px;
}

.xsMenu-listItem a:hover {
  color: #1a00ff;
  text-decoration: none;
  border-bottom: 1px solid #1a00ff;
}

@media (max-width: 1200px) {
  #mdNavbar {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  #navbarMenu {
    display: none !important;
  }
}  

/* ----------------------- */

/* Hero */

.hero-wrap {
  margin-top: 24px;
}

.hero-text-wrap {
  margin-left: 48px;
  margin-right: 48px;
}

.intro-wrap {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(26, 0, 255, 0.9) 50%, rgba(255,255,255,1) 100%);
  border-image-slice: 1;
}

.intro-wrap p {
  font-size: 14px;
}

.intro-wrap b {
  color: #c300ff;
}

.name {
  color: #c300ff;
}

.become-paragraph {
  margin-top: 16px;
}

.become-paragraph a {
  color: #c300ff;
  text-decoration: underline;
}

.social-wrap {
  margin-top: 24px;
}

.social-wrap p {
  color: #95a3a4;
  font-size: 14px;
  margin-bottom: 0;
}

.social-wrap a {
  font-size: 24px;
}

.social-wrap a:hover {
  color: #1a00ff;
}

.social-wrap i {
  margin-right: 28px;
}

@media (max-width: 992px) {
  .hero-text-wrap {
    margin-left: 36px;
    margin-right: 36px;
  } 

  .intro-wrap h2 {
    font-size: 28px;
  }

  .become-paragraph {
    font-size: 16px;
  }
}

/* ----------------------- */


