/* {
  border: 1px solid green;
} */

body {
  color: #333;
  font-size: 18px;
  line-height: 1.66667;
}

a {
  color: #333;
} 

/* ----------------------- */

/* Container */

.container-fluid {
  max-width: 1760px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 1200px) {
  .container-fluid, .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .container-fluid, .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* ----------------------- */

/* Aspect ratio boxes */

.aspectRatioBox {
  padding-top: calc(1 / 1 * 100%);
  background-size: contain;
  background-repeat: no-repeat; 
  background-position: center;
}

.aspectRatioBox-portfolio {
  padding-top: calc(1 / 1 * 100%);
  background-size: cover;
  background-position: center;
}

.aspectRatioBox-image {
  padding-top: calc(1 / 1 * 100%);
  background-size: cover;
  background-position: center;
}

.aspectRatioBox-location {
  padding-top: calc(1 / 2 * 100%);
  background-size: cover;
  background-position: center;
  border: 1px solid #95a3a4;
}

/* ----------------------- */

/* Row gutters */

.custom-gutter > [class*='col-'] {
  padding-right: 6px;
  padding-left: 6px; 
}

/* ----------------------- */

/* Section titles */

.section-title {
  text-align: center;
  margin-bottom: 36px;
}

.section-title p {
  color: #95a3a4;
  font-size: 16px;
}

.section-title h2 {
  margin-bottom: 0;
}

.section-title span {
  color: #1a00ff;
}

/* ----------------------- */

/* Navbar */

#navbar {
  height: 80px;
  border-bottom: 1px solid #d3d3d3;
  z-index: 1;
}

#mdNavbar {
  padding: 0 64px;
}

#xsNavbar {
  padding: 0 8px;
}

.navbar-title {
  color: #1a00ff;
  letter-spacing: 3px;
  font-size: 24px;
}

.navbar-title:hover {
  color: #1a00ff;
  opacity: 0.75;
}

.navbar-title-portfolio {
  font-size: 18px;
}

.nav-link:hover {
  background-color: #1a00ff;
  color: #fff;
  border-radius: 5px;
}

#navbarMenuToggler {
  position: relative;
  font-size: 24px;
  margin-right: 0;
  padding: 0 8px;
  transition: color 0.25s;
  z-index: 1;
}

#navbarMenuToggler i:hover {
  color: #1a00ff;
}

#navbarMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 48px 18px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
  border: 1px solid rgba(0,0,0,.04);
  border-radius: 16px;
  text-align: center;
}

.xsMenu-listItem {
  margin-top: 24px;
}

.xsMenu-listItem a {
  display: block;
  margin: 0 40px;
}

.xsMenu-listItem a:hover {
  color: #1a00ff;
  text-decoration: none;
  border-bottom: 1px solid #1a00ff;
}

@media (max-width: 1200px) {
  #mdNavbar {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  #navbarMenu {
    display: none !important;
  }
}  

/* ----------------------- */

/* Hero */

.hero-wrap {
  margin-top: 24px;
}

.hero-text-wrap {
  margin-left: 48px;
  margin-right: 48px;
}

.intro-wrap {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-image: linear-gradient(90deg, rgba(26, 0, 255, 0.9) 50%, rgba(255,255,255,1) 100%);
  border-image-slice: 1;
}

.intro-wrap p {
  font-size: 14px;
}

.intro-wrap b {
  color: #c300ff;
}

.name {
  color: #c300ff;
}

.become-paragraph {
  margin-top: 16px;
}

.become-paragraph a {
  color: #c300ff;
  text-decoration: underline;
}

.social-wrap {
  margin-top: 24px;
}

.social-wrap p {
  color: #95a3a4;
  font-size: 14px;
  margin-bottom: 0;
}

.social-wrap a {
  font-size: 24px;
}

.social-wrap a:hover {
  color: #1a00ff;
}

.social-wrap i {
  margin-right: 28px;
}

@media (max-width: 992px) {
  .hero-text-wrap {
    margin-left: 36px;
    margin-right: 36px;
  } 

  .intro-wrap h2 {
    font-size: 28px;
  }

  .become-paragraph {
    font-size: 16px;
  }
}

/* ----------------------- */

/* Portfolio */

.portfolio-wrap {
  margin-top: 80px;
  margin-bottom: 36px;
  padding-top: 16px;
}

.portfolio-box {
  position: relative;
  background: linear-gradient(0deg, #0093E9 0%, #80D0C7 40%, #ffffff 100%);
  margin-bottom: 24px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #fff;
}

.portfolio-box:hover .overlay {
  opacity: 0.3;
}

.portfolio-box-inner {
  padding: 24px;
}

.portfolio-box-title {
  margin-bottom: 0;
}

.portfolio-lang {
  margin-bottom: 24px;
}

.portfolio-html, .portfolio-css {
  font-size: 11px;
  padding: 0 4px;
  border-radius: 12px;
}

.portfolio-html {
  border: 1px solid #c300ff;
  color: #c300ff;
}

.portfolio-css {
  border: 1px solid #4B00C8;
  color: #4B00C8;
}

/* ----------------------- */

/* About */

.about-wrap {
  margin-top: 80px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.about-intro h5, .about-skills h5 {
  font-size: 18px;
}

.about-intro {
  text-align: end;
  margin-left: 40px;
}

.about-intro h6 {
  color: #95a3a4;
}

.about-intro p {
  font-size: 14px;
}

.about-image {
  border: 1px solid;
  border-image: linear-gradient(90deg, rgba(26, 0, 255, 0.9) 50%, rgba(255,255,255,1) 100%);
  border-image-slice: 1;
}

.skill {
  margin-top: 22px;
}

.skill-percentage {
  color: #95a3a4;
}

.progress-bar-bg {
  background-color: #1a00ff;
}

@media (max-width: 992px) {
  .skill {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .about-intro {
    text-align: start;
    margin-left: 0;
    margin-right: 80px;
    margin-bottom: 36px;
  }
  
  .about-skills {
    margin-bottom: 36px;
  }
}

/* ----------------------- */

/* Contact */

.background {
  margin-top: 80px;
  background-color: #f7f7f7;
}

.contact-wrap {
  padding-top: 68px;
  padding-bottom: 48px;
}

.contact-inner {
  background-color: #f7f7f7;
  padding: 24px 0;
}

.contact {
  text-align: center;
  background-color: #fff;
  padding: 24px 12px;
  height: 100%;
}

.contact h5 {
  letter-spacing: 3px;
  font-size: 14px;
  margin-bottom: 24px;
}

.contact p {
  font-size: 14px;
}

.contact-email, .contact-social {
  margin-top: 24px;
}

.contact-email h6, .contact-social h6 {
  margin-bottom: 0px;
}

.contact-email i, .contact-social i {
  font-size: 24px;
  color: #95a3a4;
  margin-bottom: 12px;
}

.contact-social-icons i {
  margin-left: 14px;
  margin-right: 14px;
  margin-top: 12px;
  font-size: 24px;
}

.contact-email a:hover {
  color: #1a00ff;
  text-decoration: none;
}

.contact-social-icons a i:hover {
  color: #1a00ff;
}

.send-message {
  margin: 0 16px;
}

.send-message-field input, .send-message-field textarea {
  width: 100%;
  border: 1px solid #95a3a4;
}

.send-message-button {
  background-color: #1a00ff;
  color: #fff;
  margin-top: 12px;
}

.send-message-button:hover {
  background-color: #0d0088;
  color: #fff;
}

@media (max-width: 992px) {
  .contact-column {
    margin-bottom: 30px;
  }

}

@media (max-width: 768px) {
  .contact-wrap {
    padding-top: 80px;
  }
}

/* ----------------------- */

