/* {
  border: 1px solid green;
} */

body {
  color: #333;
  font-size: 18px;
  line-height: 1.66667;
}

a {
  color: #333;
} 

/* ----------------------- */

/* Container */

.container-fluid {
  max-width: 1760px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 80px;
  padding-right: 80px;
}

@media (max-width: 1200px) {
  .container-fluid, .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}

@media (max-width: 768px) {
  .container-fluid, .container {
    padding-right: 24px;
    padding-left: 24px;
  }
}

/* ----------------------- */

/* Navbar */

#navbar {
  height: 80px;
  border-bottom: 1px solid #d3d3d3;
  z-index: 1;
}

#mdNavbar {
  padding: 0 64px;
}

#xsNavbar {
  padding: 0 8px;
}

.navbar-title {
  color: #1a00ff;
  letter-spacing: 3px;
  font-size: 24px;
}

.navbar-title:hover {
  color: #1a00ff;
  opacity: 0.75;
}

.navbar-title-portfolio {
  font-size: 18px;
}

.nav-link:hover {
  background-color: #1a00ff;
  color: #fff;
  border-radius: 5px;
}

#navbarMenuToggler {
  position: relative;
  font-size: 24px;
  margin-right: 0;
  padding: 0 8px;
  transition: color 0.25s;
  z-index: 1;
}

#navbarMenuToggler i:hover {
  color: #1a00ff;
}

#navbarMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 48px 18px;
  width: 200px;
  background-color: #fff;
  box-shadow: 0 6px 20px rgb(0 0 0 / 20%);
  border: 1px solid rgba(0,0,0,.04);
  border-radius: 16px;
  text-align: center;
}

.xsMenu-listItem {
  margin-top: 24px;
}

.xsMenu-listItem a {
  display: block;
  margin: 0 40px;
}

.xsMenu-listItem a:hover {
  color: #1a00ff;
  text-decoration: none;
  border-bottom: 1px solid #1a00ff;
}

@media (max-width: 1200px) {
  #mdNavbar {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  #navbarMenu {
    display: none !important;
  }
}  

/* ----------------------- */

